.todo table{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    color: black ;
}

table th{
    padding: 8px;
    font-size: 20pt;
}
table td{
    padding: 19px;
}